:root {
  --primary-color: rgb(255, 255, 255);
}

html {
  overflow-x: hidden;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
  background-image: radial-gradient(circle, rgb(221, 221, 220) 0%, rgba(0, 0, 0, 0) 100%);
  transition: background-color 1s ease;
}

canvas {
  writing-mode: vertical-lr;
}

.canvas-container {
  position: fixed;
  margin-top: -10px;

}

#c {
  filter: blur(1.2px);
}

.text {
  padding: 0.5rem;
  font-size: 2rem;
  font-family: 'Times New Roman', serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.small-text {
  font-size: 1rem;
  font-family: 'Times New Roman', serif;
  font-weight: lighter;
  color: rgb(0, 0, 0);
}

.center-spotify {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

span {
  color: #666;
  font-size: 0.8rem;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

span a {
  color: #000000;
  text-decoration: none;
}

span .fa {
  color: #E90606;
  margin: 0 3px;
  font-size: 0.8rem;
  animation: pound 0.35s infinite alternate;
  -webkit-animation: pound 0.35s infinite alternate;
}

@-webkit-keyframes pound {
  to {
    transform: scale(1.1);
  }
}

@keyframes pound {
  to {
    transform: scale(1.1);
  }
}

.vertical-heading-2 {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  text-align: center;
}

.vertical-line {
  border-left: thick solid #ff0000;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.fade-out {
  animation: fadeOut 1s ease-in-out;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.link {
  color: rgb(128, 73, 0);
  background-color: transparent;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
}

.info_title {
  font-size: 0.8rem;
  font-weight: bolder;
}

.info_sub {
  font-size: 0.6rem;
  color: #333;
}

.right_img {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.30), 0 0 10px rgba(0, 0, 0, 0.22);
  border-radius: 6px;
  width: 3rem;
  height: 3rem;
}

.content_box {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content_section {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: left;
}

p {
  padding: 0;
  margin: 0;
}

.a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

.a:visited {
  color: #000000;
  background-color: transparent;
  text-decoration: none;
}

.a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

.a:active {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
}

#seekbar-bg {
  border-radius: 50px;
  height: 6px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.50) !important;
  justify-self: center;

  font-size: 0.7em;
  font-weight: bold;
  color: #555;
}

#section-album {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: repeat(2, 1);
}

#seekbar-now {
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.90) !important;
  height: 6px;
  transition: linear width 1s;
}

#time-class {
  margin-top: 5px;
  float: right;
}

#device {
  margin-top: 5px;
  float: left;
}

#activeicon {
  margin-top: 5px;
  margin-right: 5px;
  float: left;
  vertical-align: middle;
  font-size: 1.3em;
}

#div-album {
  border: solid;
  display: contents;
  margin-top: 20px;
  position: relative;
}